a {
    text-decoration: none;
}

p {
    font-size: 20px;
}

.navigation-link {
    color: lightgray;
    padding: 0 20px 0 0;
    font-size: 20px;
}

.navigation-link:hover {
    color: white;
}

.p-text {
    font-size: 24px;
}

.bg-orange {
    background-color: #fb5607;
}

.bg-red {
    background-color: #ff006e;
}

.bg-purple {
    background-color: #8338ec;
}

.bg-blue {
    background-color: #3a86ff;
}
.mainContainer {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -56px;
}

.header-container {
    color: white;
    background-color: #3a86ff;
    padding: 100px 0 100px 0;
    height: 100vh;
}

.hero-container {
    color: white;
    background-color: #3a86ff;
    padding: 100px 0 100px 0;
    height: 100vh;
}

.hero-text {
    margin-top: 200px;
}

.sooImage {
    width: 200px;
    border-radius: 50%;
}

.devImage {
    width: 50%;
    padding: 50px 0;
}

.about-container {
    padding: 100px 0 100px 0;
    margin-bottom: 50px;
}

.skills-container {
    padding: 100px 0 100px 0;
    background-color: #f1f1f1;
}

.skillIcons {
    color: dodgerblue;
    font-size: 5rem;
}

.about-text-container {
    margin-left: auto;
    margin-right: auto;
}

.contact-container {
    padding: 100px 0 100px 0;
}

.footer-container {
    padding: 25px 0 25px 0;
}

.info-field {
    font-size: 20px;
}

.text-field {
    height: 200px;
    resize: none;
    font-size: 20px;
}

.works-container {
    padding: 100px 0 0px 0;
}

.project-container {
    height: 200px;
    margin-bottom: 25px;
    padding: 100px 0 100px 0;
    border-radius: 20px;
    transition: 750ms;
    background-color: #3a86ff;
}

.project-container:hover {
    transition: 750ms;
    transform: translateY(-10px);
    background-color: #023e8a;
}

.works-title-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.link-text {
    color: lightgray;
    font-size: 18px;
    transition: 1s;
}

.link-text:hover {
    color: yellow;
    transition: 1s;
}
.email-response {
    margin: 200px 0 200px 0;
}
